@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Adicione box-sizing para evitar problemas de layout */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}
body *{
    box-sizing: border-box;
}

header {
    background-color: rgb(48, 216, 194);
    width: 100%;
    padding: 10px 0; /* Adicione algum preenchimento para espaçamento interno */
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    transition: all 200ms linear;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}

.section {
    width: 100%;
    height: 500px;
}

.profile01 {
    background-color: rgb(94, 124, 94);
}

.profile02 {
    background-color: yellow;
}

.tec {
    background-color: rgba(133, 214, 235, 0.911);
}

.contact {
    background-color: rgb(0, 255, 0);
}
.rounded-image{

    
    position: relative; 
    top: 50px;         
    left: 150px;         
    width: 300px;        
    height: 150px;       
    
}.img01 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.main_login{
    width: 100vw;
    height: 100vh;
    background: #201b2c; ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_login{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left_login> h1{
    color: aquamarine;
}
.right_login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card_login>h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield>input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px  #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield>label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield >input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: aquamarine;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
@media only screen and (max-widht: 600px){
    .main_login{
        flex-direction: column;
    }
    .left_login > h1{
        display: none;
    }
    .left_login{
        width: 100%;
        height: auto;
    }
    .right_login{
        width: 100%;
        height: auto;
    }
    .left_login{
        width: 50vw;
    }
    .card_login{
        width: 90%;
    }
}